body{

background:#081b29;

}
p{
	color: white;
}
.btn-primary{
	height: 50px;
	width: 70px;
	font-weight:bold ;
	background: #00abf0;;
    color:white;
}
.btn-primary:hover {
	color: blue;
}

h1{
	text-align: center;
	color: white;
}

a{
	color: white;
}

a:hover{
	color: blue;
}

#menu-toggle {
    display: none;
}

.hamburger {
    font-size: 30px;
    color: #ededed;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.nav-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    right: 20px;
    background: #081b29;
    padding: 10px;
    border: 1px solid #00abf0;
    border-radius: 8px;
}

.nav-menu a {
    text-decoration: none;
    color: #ededed;
    font-size: 18px;
    margin: 10px 0;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #00abf0;
}

#menu-toggle:checked + .hamburger + .nav-menu {
    display: flex;
}